<div class="mb-3">


{#						<div id="collapseOne11" class="collapse" aria-labelledby="headingOne">#}
{#							<div id="cardBody" class="card-body">#}
{#								<div class="container">#}
{#									<div id="faculties" class="row justify-content-center align-items-center">#}
{#                                        {%  for faculty in name %}#}
{#										<div class="card col-6 col-sm-4 col-md-3 ">#}
{#											<button type="button" class="btn btn-white">#}
{#												{{ faculty.name }}#}
{#											</button>#}
{#										</div>#}
{#                                            {% endfor %}#}
{##}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Факультет</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                {%  for faculty in name %}
                                 <option>{{ faculty.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
					</div>
</div>