<div class="mb-3">
					<label>Факультет</label>
					<div class="card mb-3 text-alight-center">
						<div class="card-header bg-white" id="headingOne">
							<a class="text-muted" data-toggle="collapse" href="#" data-target="#collapseOne11">
								Список факультетов
							</a>
							<small class="text-muted"> (Нажмите для выбора)</small>
						</div>

						<div id="collapseOne11" class="collapse" aria-labelledby="headingOne">
							<div id="cardBody" class="card-body">
								<div class="container">
									<div id="faculties" class="row justify-content-center align-items-center">
                                        {%  for faculty in name %}
										<div class="card col-6 col-sm-4 col-md-3 ">
											<button type="button" class="btn btn-white">
												{{ faculty.name }}
											</button>
										</div>
                                            {% endfor %}

									</div>
								</div>
							</div>
						</div>
					</div>
</div>