<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Расписание СПбГУ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    {% block style %}

    {% endblock style %}

	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type = "text/css">
	<script src="{% static 'jquery.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'popper.min.js' %}" type="text/javascript" ></script>
	<script src="{% static 'bootstrap.min.js' %}" type="text/javascript"></script>
	
    {% block postfiles %}

    {% endblock postfiles %}
</head>

<body>
	<nav id="mainNavBar" class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
		<div class="container">
			<h3 class="navbar-brand" href="#">Расписание СПбГУ</h3>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="collapsibleNavbar" class="collapse navbar-collapse" >
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Аудитории
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/instruments/?name=1-1" data-toggle="tooltip" title="Занятость конкретной аудитории в определенный промежуток времени">Занятость</a>
							<a class="dropdown-item" href="/instruments/?name=1-2" data-toggle="tooltip" title="Список свободных аудиторий в определенный промежуток времени на факультете">Свободные аудитории</a>
							<a class="dropdown-item" href="/instruments/?name=1-3" data-toggle="tooltip" title="Расписание конкретной аудитории">Расписание аудитории</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Преподаватели
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/instruments/?name=2-1" data-toggle="tooltip" title="Список преподавателей, ведущих выбранную дисциплину">Преподаватели выбранной группы </a>
							<a class="dropdown-item" href="/instruments/?name=2-2" data-toggle="tooltip" title="Список преподавателей, обучающих выбранную группу">Преподаватели по дисциплине</a>
							<a class="dropdown-item" href="/instruments/?name=2-3" data-toggle="tooltip" title="Занятость преподавателей, обучающих выбранную группу">Занятость преподавателей группы</a>
							<a class="dropdown-item" href="/instruments/?name=2-4" data-toggle="tooltip" title="Занятость преподавателей, ведущих выбранную дисциплину">Занятость преподавателей по дисциплине</a>
							<a class="dropdown-item" href="/instruments/?name=2-5" data-toggle="tooltip" title="Занятость определенного преподавателя">Занятость преподавателя</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Учебные дисциплины
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/instruments/?name=3-1" data-toggle="tooltip" title="Количество занятий по дням недели для учебных групп">Нагрузка по дням недели</a>
							<a class="dropdown-item" href="/instruments/?name=3-2" data-toggle="tooltip" title="Количество занятий конкретной дисциплины в семестре для учебных групп">Нагрузка по дисциплине</a>
							<a class="dropdown-item" href="/instruments/?name=3-3" data-toggle="tooltip" title="Количество пар в неделю по дисциплинам">Количество пар в неделю</a>
							<a class="dropdown-item" href="/instruments/?name=3-4" data-toggle="tooltip" title="Соотношение лекций и практик по дисциплинам учебных групп">Лекции/практики по предметам</a>
							<a class="dropdown-item" href="/instruments/?name=3-5" data-toggle="tooltip" title="Общая занятость факультетов">Занятость факультетов</a>
							<a class="dropdown-item" href="/instruments/?name=3-6" >Лекции/практики на факультете</a>
						</div>
					</li>		
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Задачи
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="/instruments/?name=4-1" data-toggle="tooltip" data-placement="right" title="Список вариантов пар, на которые можно перенести занятие">Переставить пару</a>
							<a class="dropdown-item" href="/instruments/?name=4-2" data-toggle="tooltip" data-placement="right" title="Список определенных преподавателей на время определенной пары для замены">Подменить преподавателя</a>
						</div>
					</li>
				</ul>   
			</div>
		</div>
	</nav>

	<div id="underHead" class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="https://timetable.spbu.ru/">Главная</a></li>
			<li class="breadcrumb-item"><a href="/">Анализ расписания</a></li>

            {% block analis %}
            {% endblock analis %}
		</ol>
     </div>
	 
	<div class="container" id="main">

	{% block content %}
	
    {% endblock content %}
	</div>
	
	<footer>
		<a href="https://github.com/spbu-schedule"> GitHub </a> <br>
		<a href="https://docs.google.com/document/d/1C0oOPbrkehR4VlJ-cFEqwbGl9nMTeZCcWdAby63KLH4/edit?usp=sharing"> Описание проекта </a>
	</footer>


</body>
