{% extends 'mainApp/templates/templates.html' %}
{% block style %}
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'form-validation.css' %}" type = "text/css">
	<link rel="stylesheet" href="{% static 'main.css' %}" type = "text/css">
{% endblock style %}

{% block postfiles %}
    {% load staticfiles %}
	<!-- Для ввода даты и времени -->
	<script src="{% static 'moment.min.js' %}" type="text/javascript" ></script>
	<script src="{% static 'daterangepicker.min.js' %}" type="text/javascript" ></script>
	<link rel="stylesheet" href="{% static 'daterangepicker.css' %}" type = "text/css">
{% endblock postfiles %}

{% block analis %}
    <li class="breadcrumb-item active" aria-current="page">Параметры инструментов</li>
{% endblock analis %}

{% block content %}
		  
		<h2 class="mb-4">Параметры инструментов</h2>
		<form class="needs-validation" novalidate>
        {% for val in values %}
			{% if val == '1-1' %}
			<div id="1-1">
				<h4>Занятость конкретной аудитории в определенный промежуток времени</h4>
				<div class="row">
					<div class="col-6 col-md-6 col-lg-4">
						{% include 'mainApp/templates/faculty.html' %}
                    </div>
                    <div class="col-6 col-md-6 col-lg-3">
						{% include 'mainApp/templates/audience.html' %}
                    </div>
                    <div class="col-12 col-md-12 col-lg-5">
						{% include 'mainApp/templates/date_time.html' %}
                    </div>
				</div>
				<hr class="mb-4">					
			</div>
            {% endif %}

            {% if val == '1-2' %}
			<div id="1-2">
				<h4>Список свободных аудиторий в определенный промежуток времени на факультете</h4>
				<div class="row">
					<div class="col-12 col-md-5 col-lg-6">
						{% include 'mainApp/templates/faculty.html' %}
                    </div>
                    <div class="col-12 col-md-7 col-lg-6">
						{% include 'mainApp/templates/date_time.html' %}
                    </div>
				</div>
				<hr class="mb-4">						
			</div>
			{% endif %}

            {% if val == '1-3' %}
			<div id="1-3">
				<h4>Расписание аудитории</h4>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						{% include 'mainApp/templates/faculty.html' %}
                    </div>
                    <div class="col-sm-6 col-md-6">
						{% include 'mainApp/templates/audience.html' %}
                    </div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '2-1' %}
			<div id="2-1">
				<h4>Список преподавателей, обучающих выбранную группу/ведущих выбранну дисциплину</h4>
				<div class="row">
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>	
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/group.html' %}
					</div>				  
					<div class="col-sm-12 col-md-4">
                        {% include 'mainApp/templates/discipline.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '2-2' %}
			<div id="2-2">
				<h4>Занятость преподавателей, обучающих выбранную группу/ведущих выбранну дисциплину</h4>
				<div class="row">
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>	
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/group.html' %}
					</div>				  
					<div class="col-sm-12 col-md-4">
                        {% include 'mainApp/templates/discipline.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '2-3' %}
			<div id="2-3">
				<h4>Занятость определенного преподавателя</h4>
				<div class="row">
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/name_teacher.html' %}
					</div>				  
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/week.html' %}
					</div>
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/date.html' %}
					</div>
				</div>

				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '3-1' %}
			<div id="3-1">
				<h4>Количество занятий по дням недели для учебных групп</h4>
                <div class="row">
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/group.html' %}
					</div>				  
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/week.html' %}
					</div>
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/date.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '3-2' %}
			<div id="3-2">
				<h4>Количество занятий конкретной дисциплины в семестре для учебных групп</h4>
				<div class="row">
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>	
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/group.html' %}
					</div>				  
					<div class="col-sm-12 col-md-4">
                        {% include 'mainApp/templates/discipline.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '3-3' %}
			<div id="3-3">
				<h4>Количество пар в неделю по дисциплинам</h4>
				<div class="row">
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/group.html' %}
					</div>				  
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/week.html' %}
					</div>
					<div class="col-12 col-md-6">
                        {% include 'mainApp/templates/date.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '3-4' %}
			<div id="3-4">
				<h4>Соотношение лекций и практик по дисциплинам учебных групп</h4>
				<div class="row">
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>	
					<div class="col-sm-6 col-md-4">
                        {% include 'mainApp/templates/group.html' %}
					</div>				  
					<div class="col-sm-12 col-md-4">
                        {% include 'mainApp/templates/discipline.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '3-5' %}
			<div id="3-5">
				<h4>Общая занятость факультетов</h4>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>			  
					<div class="col-12 col-sm-6 col-md-3">
                        {% include 'mainApp/templates/week.html' %}
					</div>
					<div class="col-12 col-sm-6 col-md-5">
                        {% include 'mainApp/templates/date.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '3-6' %}
			<div id="3-6">
				<h4>Лекции/практики на факультете</h4>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4">
                        {% include 'mainApp/templates/faculty.html' %}
					</div>			  
					<div class="col-12 col-sm-6 col-md-3">
                        {% include 'mainApp/templates/week.html' %}
					</div>
					<div class="col-12 col-sm-6 col-md-5">
                        {% include 'mainApp/templates/date.html' %}
					</div>
				</div>
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '4-1' %}
			<div id="4-1">
				<h4>Список вариантов пар, на которые можно перенести занятие</h4>
				<div class="row">
					<div class="col-6 col-md-6 col-lg-4">
						{% include 'mainApp/templates/faculty.html' %}
                    </div>
                    <div class="col-6 col-md-6 col-lg-3">
						{% include 'mainApp/templates/group.html' %}
                    </div>
                    <div class="col-12 col-md-12 col-lg-5">
						{% include 'mainApp/templates/date_time.html' %}
                    </div>
				</div>				
				<hr class="mb-4">					
			</div>
			{% endif %}
			
            {% if val == '4-2' %}
			<div id="4-2">
				<h4>Список свободных преподавателей на время определенной пары для замены</h4>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6">
						{% include 'mainApp/templates/faculty.html' %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
						{% include 'mainApp/templates/date_time.html' %}
                    </div>
				</div>		
				<hr class="mb-4">					
			</div>
            {% endif %}
        {%endfor%}
			<div class="row justify-content-center">
				<div class="col-md-8">
					<button class="btn btn-primary btn-lg btn-block" type="submit">
						Продолжить
					</button>
				</div>
			</div>
		</form>
        <div>
            </br></br></br>
        </div>

	<script>
	$(function date() {
	  $('input[name="datetimes"]').daterangepicker({
			"timePicker": true,
			"timePicker24Hour": true,
			"showISOWeekNumbers": true,
			"timePickerIncrement": 5,
			"locale": {
				"format": "DD/MM/YYYY HH:mm",
				"separator": " - ",
				"applyLabel": "Apply",
				"cancelLabel": "Cancel",
				"fromLabel": "From",
				"toLabel": "To",
				"customRangeLabel": "Custom",
				"weekLabel": "№",
				"daysOfWeek": [
					"Вс","Пн","Вт","Ср","Чт","Пт","Сб"
				],
				"monthNames": [
					"Январь","Февраль","Март","Апрель",
					"Май","Июнь","Июль","Август",
					"Сентябрь","Октябрь","Ноябрь","Декабрь"
				],
				"firstDay": 1
			},
			"alwaysShowCalendars": false,
			"linkedCalendars": false,
			"opens": "center"
		}, function(start, end, label) {
		  console.log('New date range selected: ' + start.format('YYYY-MM-DD HH:mm') + ' to ' + end.format('YYYY-MM-DD HH:mm'));
		});
	});
	</script>
	
	<script>
	$(function() {
	  $('input[name="startTime"]').daterangepicker({
		"singleDatePicker": true,
		"timePicker": true,
		"timePicker24Hour": true,
		"showISOWeekNumbers": true,
		"timePickerIncrement": 5,
		"locale": {
			"format": "DD/MM/YYYY HH:mm",
			"separator": " - ",
			"applyLabel": "Apply",
			"cancelLabel": "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"weekLabel": "№",
			"daysOfWeek": [
				"Вс","Пн","Вт","Ср","Чт","Пт","Сб"
			],
			"monthNames": [
				"Январь","Февраль","Март","Апрель",
				"Май","Июнь","Июль","Август",
				"Сентябрь","Октябрь","Ноябрь","Декабрь"
			],
			"firstDay": 1
		},
		"alwaysShowCalendars": false,
		"linkedCalendars": false,
		"opens": "center"
	  }, function(start, label) {
		console.log('New date selected: ' + start.format('YYYY-MM-DD HH:mm'));
	  });
	});
	</script>
	
	<script>
	$(function() {
	  $('input[name="numberOfWeek"]').daterangepicker({
		"singleDatePicker": true,
		"showISOWeekNumbers": true,
		"locale": {
			"format": "DD/MM/YYYY № W",
			"separator": " - ",
			"applyLabel": "Apply",
			"cancelLabel": "Cancel",
			"fromLabel": "From",
			"toLabel": "To",
			"customRangeLabel": "Custom",
			"weekLabel": "№",
			"daysOfWeek": [
				"Вс","Пн","Вт","Ср","Чт","Пт","Сб"
			],
			"monthNames": [
				"Январь","Февраль","Март","Апрель",
				"Май","Июнь","Июль","Август",
				"Сентябрь","Октябрь","Ноябрь","Декабрь"
			],
			"firstDay": 1
		},
		"alwaysShowCalendars": false,
		"opens": "center"
	  }, function(start, label) {
		console.log('New date selected: ' + start.format('W') + ' week');
	  });
	});
	</script>
	
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
	
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
		
{% endblock content %}