{% extends 'mainApp/templates/templates.html' %}
{% block style %}
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'form-validation.css' %}" type = "text/css">
	<link rel="stylesheet" href="{% static 'main.css' %}" type = "text/css">
{% endblock style %}

{% block postfiles %}
    {% load staticfiles %}
	<!-- Для ввода даты и времени -->
	<script src="{% static 'moment.min.js' %}" type="text/javascript" ></script>
	<script src="{% static 'daterangepicker.min.js' %}" type="text/javascript" ></script>
	<link rel="stylesheet" href="{% static 'daterangepicker.css' %}" type = "text/css">
{% endblock postfiles %}

{% block analis %}
    <li class="breadcrumb-item active" aria-current="page">Параметры инструментов</li>
{% endblock analis %}

{% block content %}
    {% if oo == '3-2' %}
    <h4> Количество занятий по предмету {{ tt }} - {{ photo }}</h4>
    {% endif %}
    {% if oo == '2-1' or oo == '2-2' %}
    <ol>
    {% for val in photo %}
        <li>{{ val }}</li>
    {% endfor %}
    </ol>
    {% endif %}

    {% if  oo == '2-3' or oo == '2-4' or oo == '2-5' or oo == '3-1' or oo == '3-3' or oo == '3-4' or oo == '3-5'%}
    <img src="../static/{{ photo }}">

    {% endif %}

{% endblock content %}